* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	font-weight: 500;

	background-color: #f87005;
	background-image: radial-gradient(circle 1355px at center, #ff9201, #f87005 100%);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.header {
	width: 100%;
	background-color: #f87005;
	background-image: radial-gradient(circle 1355px at center, #ff9201, #f87005 100%);
}

.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
}

.nav-wrapper {
	padding-top: 35px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	align-items: center;

	margin-bottom: 40px;
}

.logo {
	font-weight: 900;
	font-size: 28px;
	line-height: 1;
	color: #000000;
}

.logo span {
	color: #ffffff;
}

.nav {
	color: #ffffff;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.nav_item {
	margin-right: 50px;
}

.nav_item:last-child {
	margin-right: 0px;
}

.nav_link {
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;

	padding: 5px 10px;

	display: inline-block;
	vertical-align: top;
	border: 3px solid white;
	position: relative;
	transition: color 0.25s linear;
	transition: background 0.25s linear;
}

.nav_link:hover {
	color: #000000;
	background-color: #ffffff;
}




.footer {
	color: white;
	width: 100%;
	padding: 20px 0;
	background: linear-gradient(87deg, rgb(0, 0, 0) 50%, rgb(255, 255, 255), rgb(255, 255, 255));

	font-weight: 300;
	font-size: 16px;

	line-height: 2;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer_item {
	width: 16%;
}

.rsssvg,
.soc {
	height: 32px;
}

.soc_img img {
	position: relative;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	transition: 0.7s;
}

.soc_img {
	display: flex;
	justify-content: space-between;
}

.soc_img img:hover {
	transform: translateY(-10px)
}

.author {
	color: #f87005;
	text-decoration: none;
	transition: 0.7s;
}

.footer .author:hover {
	box-shadow: 11px 8px 25px 1px rgba(255, 140, 24, 0.2);
}